@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
  --color-gray-950: hsl(0 0% 17%);
  --color-gray-400: hsl(0 0% 58%);
  --font-rubik: "Rubik", sans-serif;
}

html,
body {
  font-family: var(--font-rubik);
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Takes up at least 100% of the screen height */
}
